:root{
  --bg:#222222;
  --txt:#dddddd;
  --div1:#333333;
  --div2:#444444;
  --div3:#555555;
  --border:#666666;
  --txt2:#999999;
  --link:#88BBFF;
  --link2:#6688CC;
  --link3:#9966DD;
}
body{
  padding:0;
  margin:0;
  background-color: var(--bg);
  color:var(--txt)
}
#container{
  margin:auto;
  max-width: 1000px;
}
nav{
  display:flex;
  padding:5px;
  background-color: var(--div1);
}
nav a{
  margin:0 10px 0 10px;
  display:block;
  height:min-content;
  padding:10px;
  border-radius:5px;
}
nav a:hover{
  background-color:var(--div2);
}
p{margin:0px;}
h1{margin:50px; text-align: center;}
h2, h3, h4{margin:10px;}
a:link{text-decoration: none;color:var(--link);}
a:visited{color:var(--link)}
a:hover{text-decoration: underline;color:var(--link2)}
a:active{color:var(--link3)}
.wrapper{
  margin:10px;
  display:flex;
  flex-direction:row;
  gap:10px;
}
.wrapper>div{
  display:relative;
  border:2px solid var(--border);
  border-radius: 10px;
  padding:10px;
  flex: 1;
}